@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Marcellus+SC&family=My+Soul&display=swap");

html {
  scroll-behavior: smooth;
}

:root {
  --foreground: rgb(30, 30, 30);
  --background: #fbfbfb;
  font-family: "Marcellus SC", serif;
}

body {
  color: var(--foreground);
  background-color: var(--background);
  font-family: "Marcellus SC", serif;
}

.background1 {
  background-image: url("../public/images/fondo3.png");
  background-position: center;
  background-size: cover;
}
.background2 {
  background-image: url("../public/images/bustillo-uno.jpeg");
  background-position: center;
  background-size: cover;
}
.background3 {
  background-image: url("../public/images/cocina.svg");
  background-position: center;
  background-size: cover;
}
.cursive1 {
  font-family: "My Soul", cursive;
}
.cursive2 {
  font-family: "Marcellus SC", serif;
}

.project1 {
  background-image: url("../public/images/la-aguada.jpeg");
  background-position: center;
  background-size: cover;
}
.project2 {
  background-image: url("../public/images/bustillo-uno.jpeg");
  background-position: center;
  background-size: cover;
}

.project3 {
  background-image: url("../public/images/bella-vista.jpeg");
  background-position: center;
  background-size: cover;
}

.project4 {
  background-image: url("../public/images/bariloche-center.jpeg");
  background-position: center;
  background-size: cover;
}

.project5 {
  background-image: url("../public/images/lomas-del-cauquen.jpeg");
  background-position: center;
  background-size: cover;
}

.project6 {
  background-image: url("../public/images/las-pitras.jpeg");
  background-position: center;
  background-size: cover;
}

.project7 {
  background-image: url("../public/images/san-martin-design.jpeg");
  background-position: center;
  background-size: cover;
}

.project8 {
  background-image: url("../public/images/la-aguada.jpeg");
  background-position: center;
  background-size: cover;
}

.noresize {
  resize: none;
}
