@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Marcellus+SC&family=My+Soul&display=swap");

:root {
  --foreground: rgb(30, 30, 30);
  --background: rgb(239, 239, 239);
  font-family: "Marcellus SC", serif;
}

body {
  color: var(--foreground);
  background-color: var(--background);
  font-family: "Marcellus SC", serif;
}

.background1 {
  background-image: url("../public/images/fondo3.png");
  background-position: center;
  background-size: cover;
}
.background2 {
  background-image: url("../public/images/bustillo-uno.jpeg");
  background-position: center;
  background-size: cover;
}

.cursive1 {
  font-family: "My Soul", cursive;
}

.cursive2 {
  font-family: "Marcellus SC", serif;
}
